.container{
    width:40%;
    background-color: rgb(41, 41, 41);
    opacity: 0.8;
    padding: 4%;
    border:1px solid rgb(0, 0, 0);
    color: white;
}
.navbar-default{
    background-color: rgb(24, 24, 24);
    border-color: rgb(0, 0, 0);
}
.navbar-brand{
    color: white;
}
